.side-panel {
  border-left: 1px solid #ccc;
  background-color: #87C186;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: scroll;
}

.sp-close-btn { font-size: 24px; }
.card-body { padding: 10px;}

.sp-image {
  width: 100%;
  box-shadow: 1px 1px 10px rgb(20, 20, 20);
}

.more-details-btn {
  width: 80%;
  margin-bottom: 10px;
}