@import "../stylings/variables";
@import "../stylings/mixins";

.side-panel {
  @include flex;
  @include flexAlignmentProperties(column, center, space-between, auto);
  border-left: $thinLightBorder;
  background-color: $colorMint;
  height: 100%;
  overflow: scroll;
  z-index: 100;
}

.sp-close-btn { 
  @include positionTopLeft(absolute, 10px, 12px);
  @include transitionEaseAll(.5s);
  @include circle(50px, 50px);
  font-size: 24px;
}
.sp-close-btn:hover {
  @include transitionEaseAll(.5s);
  transform: rotate(90deg)
}
.sp-body { padding: 10px;}

.sp-image {
  @include darkShadow($colorVeryDarkGray);
  width: 100%;
}

.more-details-btn {
  width: 80%;
  margin-bottom: 10px;
}