<div *ngIf="selectedHero" class="side-panel">
 <div class="sp-content card">
    <button (click)="closeSidePanel()" class="btn btn-warning sp-close-btn" >X</button>
    <img class="sp-image img img-fluid img-responsive" src="{{ concatImageUrl(selectedHero)  }}" />
    <div class="sp-body card-body">
      <h2 class="sp-title card-title">{{ selectedHero.name }} </h2>
      <p class="sp-description mt-3">  {{ checkDescriptionAvailability(selectedHero) }} </p>
      <div class="related-heroes-container">
          <h3>Related Heroes:</h3>
          <div class="related-heroes">
            <img src="{{ relatedHeroes }}" alt="" class="realated-heroes-image img img-fluid img-responsive">
          </div>
        </div>
    </div>
  </div>
  <button class="btn btn-warning more-details-btn">More Details</button>
</div>
