.side-panel {
  border-left: 1px solid #ccc;
  background-color: #87C186;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sp-close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}
.card-body {
  padding: 10px;
}

.sp-image {
  width: 100%;
}

.more-details-btn {
  margin: 0 20px 40px 20px;
}