$colorMint: #87C186;
$colorLightGray: #EBEBEB;
$colorVeryDarkGray: #171717;
$colorGoldMustard: #D1AB1D;
$colorBlack: #000000;

$thinDarkBorder: 1px solid #101010;
$thinLightBorder: 1px solid #FDFDFD;
