<div style="text-align:left">
  <h3 class="mt-5">
    Search for your Marvel Characters!
  </h3>
  
</div>

<!-- <h2>Here are some links to help you start: </h2> -->
<input [(ngModel)]="character" (keyup)="filterSearch()" class=" mt-3 form-control form-control-lg" type="text" >  
<br><br>
<div class="container">
   <div class="row">
    <div  class="card-group">
      <div *ngFor="let hero of heroes" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <a href="">
            <div  class="card mb-2" style="width: 18rem;">
              <img class="hero-thumbnail img img-fluid img-responsive" src="{{ getImageUrl(hero)  }}" />
              <div class="card-body">
                <h5 class="card-title">{{ hero.name }}</h5>
              </div>
            </div>
          </a>
      </div>
    </div>
   </div>
 </div>
<br><br>