<div [class.shrink-container]="isOpen" class="main-container">
  <filter></filter>
  
  <div class="heroes-container container">
    <div class="row">
      <div  class="card-group">
        <div *ngFor="let hero of heroes" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 card-col scale-in-center">
              <div (click)="openSidePanel(hero)" class="card mb-2" style="">
                <img class="hero-thumbnail img img-fluid img-responsive" src="{{ concatImageUrl(hero)  }}" />
                <div class="card-body">
                  <h5 class="card-title hero-thumbnail-title">{{ hero.name }}</h5>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">
  </div>

  <side-panel [class.panel-open]="isOpen" (change)="classChangeEventFired($event)" [selectedHero]="selectedHero"></side-panel>
</div>
