@import "../stylings/variables";
@import "../stylings/mixins";
@import "../stylings/animations";

.filter-container {
  @include positionTopLeft(fixed, 0, 0);
  background-color: $colorGoldMustard;
  border-bottom: $thinDarkBorder;
  padding: 0 50px 30px 50px;
  width: 100%;
  z-index: 5;
}

.input-container { display: flex; }

.reset-btn {
  background-color:$colorMint;
  border: $thinLightBorder;
  margin-left: 5px;
}

.heroes-container { padding-top: 150px; }

.hero-col { padding: 5px; }

.hero-thumbnail {
  @include boxOnly();
  @include darkShadow($colorVeryDarkGray);
  border: $thinDarkBorder;
  margin-bottom: 10px;
} 

.hero-thumbnail-image { width: 100%; }

.hero-thumbnail-title {
  background-color: $colorMint;
  height: 40px;
  margin: 0;
  padding: 3px;
  text-align: center;
} 

side-panel {
  @include positionTopRight(fixed, 0, -450px);
  @include transitionEaseAll(.5s);
  background-color: $colorMint;
  height: 100%;
  width: 450px;
  overflow: scroll;
  z-index: 100;
}

.panel-open {
  @include positionTopRight(fixed, 0, 0);
  @include transitionEaseAll(.4s);
}

@media screen and (max-width: 450px) {
  side-panel { width: 100%; }
}